.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.customCheckbox {
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.checkbox {
  display: none;
}

/* Checked state */
.checkbox:checked + .customCheckbox {
  background: var(--primary-color);
}

/* Checkmark */
.checkbox:checked + .customCheckbox::after {
  content: "✔";
  position: absolute;
  transform: translate(20%, -6%);
  font-size: 12px;
  color: white;
  font-weight: bold;
}
