.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 1rem;
      font-weight: bold;
    }
    button {
      display: flex;
      gap: 2px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      align-items: center;
    }
    svg {
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }
  .actionButtons {
    display: flex;
    gap: 0.25rem;
    justify-content: flex-end;
    align-items: center;
  }
  .qrCodesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
  }
}
